{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@i18n-weave/ui/(.*)$",
    "^@i18n-weave/feat/(.*)$",
    "^@i18n-weave/util/(.*)$",
    "^[./]",

    "^@/(.*)$",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
